            <navPoint playOrder="{0}" class="section" id="{1}">
                <navLabel>
                    <text>{2}</text>
                </navLabel>
                <content src="{3}.html"/>
                {4}
            </navPoint>
