                <navPoint playOrder="{0}" class="article" id="item-{1}">
                    <navLabel>
                        <text>{2}</text>
                    </navLabel>
                    <content src="{3}.html"/>
                    <mbp:meta name="description">{4}</mbp:meta>
                    <mbp:meta name="author">{5}</mbp:meta>
                </navPoint>